html, body {
    height: 100%;
    margin: 0;
    background-color: #212121;
}

#cont {
    display: flex;
    height: 100%;
}

.vertical-form {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 250px; /* Set fixed width for the form */
    padding: 20px;
    background-color: #171717;
}

#map {
    flex: 1; /* Map takes up remaining space */
    position: relative;
    background-color: lightgray; /* Placeholder for map */
    overflow: hidden; /* Ensures overlay doesn't go outside */
}

#res {
    position: absolute;
    top: 10px; /* Position near the top-left of the map */
    left: 10px;
    background-color: rgba(23, 23, 23, 0.8); /* Semi-transparent background */
    color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    z-index: 10;
    width: 200px;
    max-height: 300px; /* Optional: Limit height and make it scrollable */
    overflow-y: auto;
}

.location-item {
    margin-bottom: 10px;
}

.location-item:last-child {
    margin-bottom: 0; /* Remove extra margin for last item */
}


.vertical-form label {
    margin-bottom: 5px; /* Spacing between label and input */
}

.vertical-form input {
    background-color: #2f2f2f;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: grey;
    margin-bottom: 45px; /* Spacing between fields */
    padding: 8px;
    font-size: 14px;
}

.vertical-form button {
    border-color: grey;
    background-color: rgb(199, 191, 191);
    border-style: solid;
    margin-top: 25px; /* Spacing between fields */
    border-radius: 15px;
    padding: 8px;
    font-weight: bold;
    font-stretch: expanded;
    font-size: 14px;
}

.vertical-form button:hover {
    
    background-color: rgb(231, 218, 218);
    cursor: pointer;
}