<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" link href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <h1>This is a heading</h1>
        <form method="POST">

            <label for="city">City:</label>
        
            <input type="text" id="city" name="city" placeholder="Enter City">
        
            <label for="zip">Zip Code:</label>
        
            <input type="text" id="zip" name="zip" placeholder="Enter Zip Code">
        
            <button type="submit">Submit</button>
        
        </form>

        <p>Response: {{response}}</p>
        
    </body>
</html>