<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" link href="/static/style.css">
        <title>Document</title>
    </head>
    <body>
        <div id="cont">
            <form method="POST" class="vertical-form">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" placeholder="Enter State">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" placeholder="Enter City">
                <label for="zip">Zip Code:</label>
                <input type="text" id="zip" name="zip" placeholder="Enter Zip Code">
                <label for="criteria">Criterion:</label>
                <input type="text" id="criterion" name="criterion" placeholder="Enter Criterion">
                <label for="blooms">Blooms Taxonomy:</label>
                <select id="blooms" name="blooms">
                    <option value="remembering">Remembering</option>
                    <option value="understanding">Understanding</option>
                    <option value="applying">Applying</option>
                    <option value="analyzing">Analyzing</option>
                    <option value="evaluating">Evaluating</option>
                    <option value="creating">Creating</option>
                </select>
                <button type="submit">Submit</button>
            </form>
            
        
            <div id="map">
                <div class="location-list" id="res">
                    {% for location in locations %}
                    <div class="location-item">
                        <div class="location-name">{{ location.name }}</div>
                        <div class="location-info">{{ location.address }}</div>
                    </div>
                    {% endfor %}
                </div>
                {{ map_html|safe }}
            </div>
            <div id="response">
                {{response}}
            </div>
        </div>
    </body>
</html>