<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9ce03de95717813eae443368eaaae443 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9ce03de95717813eae443368eaaae443" ></div>
        
</body>
<script>
    
    
            var map_9ce03de95717813eae443368eaaae443 = L.map(
                "map_9ce03de95717813eae443368eaaae443",
                {
                    center: [37.7749, -122.4194],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_9b90dbe1567bf77818fe72376bee955a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_9b90dbe1567bf77818fe72376bee955a.addTo(map_9ce03de95717813eae443368eaaae443);
        
    
            var marker_589cde2d51c504e7ed5f67c6934c90f8 = L.marker(
                [31.7736005, -106.3792774],
                {
}
            ).addTo(map_9ce03de95717813eae443368eaaae443);
        
    
        var popup_0ef8d735fa76e6013c452e67f1b25aaf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b1bd0d79273e212cf1fec74960f2a544 = $(`<div id="html_b1bd0d79273e212cf1fec74960f2a544" style="width: 100.0%; height: 100.0%;">Cielo Vista Mall</div>`)[0];
                popup_0ef8d735fa76e6013c452e67f1b25aaf.setContent(html_b1bd0d79273e212cf1fec74960f2a544);
            
        

        marker_589cde2d51c504e7ed5f67c6934c90f8.bindPopup(popup_0ef8d735fa76e6013c452e67f1b25aaf)
        ;

        
    
    
            var marker_bf845a7d09f88a2046821743e77547a7 = L.marker(
                [31.7690355, -106.3707038],
                {
}
            ).addTo(map_9ce03de95717813eae443368eaaae443);
        
    
        var popup_ef0ab0152f4fd0590fa62dee026485cd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0529be231e2c25a4b45baab48d70fac6 = $(`<div id="html_0529be231e2c25a4b45baab48d70fac6" style="width: 100.0%; height: 100.0%;">The Fountains at Farah</div>`)[0];
                popup_ef0ab0152f4fd0590fa62dee026485cd.setContent(html_0529be231e2c25a4b45baab48d70fac6);
            
        

        marker_bf845a7d09f88a2046821743e77547a7.bindPopup(popup_ef0ab0152f4fd0590fa62dee026485cd)
        ;

        
    
    
            var marker_99e73a3bd534472fafd5826f871b9829 = L.marker(
                [31.7867992, -106.373525],
                {
}
            ).addTo(map_9ce03de95717813eae443368eaaae443);
        
    
        var popup_7bc8be02c95f99d3c2195a14b4c2b0c5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_17b934e3802a6116de614293675aadd8 = $(`<div id="html_17b934e3802a6116de614293675aadd8" style="width: 100.0%; height: 100.0%;">Edgemere Park</div>`)[0];
                popup_7bc8be02c95f99d3c2195a14b4c2b0c5.setContent(html_17b934e3802a6116de614293675aadd8);
            
        

        marker_99e73a3bd534472fafd5826f871b9829.bindPopup(popup_7bc8be02c95f99d3c2195a14b4c2b0c5)
        ;

        
    
</script>
</html>