<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_265d35744583c13dfbfe8b6a84bdc279 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_265d35744583c13dfbfe8b6a84bdc279" ></div>
        
</body>
<script>
    
    
            var map_265d35744583c13dfbfe8b6a84bdc279 = L.map(
                "map_265d35744583c13dfbfe8b6a84bdc279",
                {
                    center: [37.7749, -122.4194],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_adb8150b224cd8524ea748a0f548adab = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_adb8150b224cd8524ea748a0f548adab.addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
            var marker_dd5c02886fd5c8892683903cdde178fe = L.marker(
                [31.7766983, -106.3745065],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_246936eb807d23ce5d5d57a53b003129 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0c7438dd0dd9fcefe5324462611b41f3 = $(`<div id="html_0c7438dd0dd9fcefe5324462611b41f3" style="width: 100.0%; height: 100.0%;">Immanuel Church</div>`)[0];
                popup_246936eb807d23ce5d5d57a53b003129.setContent(html_0c7438dd0dd9fcefe5324462611b41f3);
            
        

        marker_dd5c02886fd5c8892683903cdde178fe.bindPopup(popup_246936eb807d23ce5d5d57a53b003129)
        ;

        
    
    
            var marker_3d5c984b5f1ca48a4b7cd684468d73ad = L.marker(
                [31.78974520000001, -106.335188],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_67ea162b4ebe5bd7fbe73a4ad6596cd5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0b69e86a7cd589e09024739474040d6e = $(`<div id="html_0b69e86a7cd589e09024739474040d6e" style="width: 100.0%; height: 100.0%;">LifeGate Church</div>`)[0];
                popup_67ea162b4ebe5bd7fbe73a4ad6596cd5.setContent(html_0b69e86a7cd589e09024739474040d6e);
            
        

        marker_3d5c984b5f1ca48a4b7cd684468d73ad.bindPopup(popup_67ea162b4ebe5bd7fbe73a4ad6596cd5)
        ;

        
    
    
            var marker_a1c264203a7e66c24719ed0b16136200 = L.marker(
                [31.7783479, -106.3720117],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_cdb1316fb35a8b5f14aa651ac5c85904 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ed1c8b5521cd0e430825cdbd325ed094 = $(`<div id="html_ed1c8b5521cd0e430825cdbd325ed094" style="width: 100.0%; height: 100.0%;">El Paso Public Library José Cisneros Cielo Vista Branch</div>`)[0];
                popup_cdb1316fb35a8b5f14aa651ac5c85904.setContent(html_ed1c8b5521cd0e430825cdbd325ed094);
            
        

        marker_a1c264203a7e66c24719ed0b16136200.bindPopup(popup_cdb1316fb35a8b5f14aa651ac5c85904)
        ;

        
    
    
            var marker_d10bcb36c53703e3be672e2d4404bfd7 = L.marker(
                [31.7861467, -106.3359351],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_1703ab5818fcc285208aef45617586dd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_83d42d90de0c07c1f55584e151291f1b = $(`<div id="html_83d42d90de0c07c1f55584e151291f1b" style="width: 100.0%; height: 100.0%;">La Bam Baz Sweepstakes (Coming SOON!)</div>`)[0];
                popup_1703ab5818fcc285208aef45617586dd.setContent(html_83d42d90de0c07c1f55584e151291f1b);
            
        

        marker_d10bcb36c53703e3be672e2d4404bfd7.bindPopup(popup_1703ab5818fcc285208aef45617586dd)
        ;

        
    
    
            var marker_9fcb9d1f4f39554dbae1c22a61ddd3a9 = L.marker(
                [31.7845134, -106.417427],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_47ddcfab0b5daf228594b6e69b26ae86 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a1fb808471ed601c86798277f487288e = $(`<div id="html_a1fb808471ed601c86798277f487288e" style="width: 100.0%; height: 100.0%;">Casa Nissan</div>`)[0];
                popup_47ddcfab0b5daf228594b6e69b26ae86.setContent(html_a1fb808471ed601c86798277f487288e);
            
        

        marker_9fcb9d1f4f39554dbae1c22a61ddd3a9.bindPopup(popup_47ddcfab0b5daf228594b6e69b26ae86)
        ;

        
    
    
            var marker_fe6773a54af1c76a46f3784315d1690c = L.marker(
                [31.76977529999999, -106.3650131],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_eb51d47c70b58b69a28d9ec04902f070 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d3ec479b3138b9b46e2e3f62f33c8ab9 = $(`<div id="html_d3ec479b3138b9b46e2e3f62f33c8ab9" style="width: 100.0%; height: 100.0%;">Gregory R. Caldwell, DDS MS</div>`)[0];
                popup_eb51d47c70b58b69a28d9ec04902f070.setContent(html_d3ec479b3138b9b46e2e3f62f33c8ab9);
            
        

        marker_fe6773a54af1c76a46f3784315d1690c.bindPopup(popup_eb51d47c70b58b69a28d9ec04902f070)
        ;

        
    
    
            var marker_a67ec974f7024a6c1f02b00239bc61ac = L.marker(
                [31.76239149999999, -106.3598974],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_39dd6a9f04b1e7d3c7d625aba7b8d471 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_671c3ccdc00c0775c82ad2bf235a48fb = $(`<div id="html_671c3ccdc00c0775c82ad2bf235a48fb" style="width: 100.0%; height: 100.0%;">Southwest Celebrity Smiles</div>`)[0];
                popup_39dd6a9f04b1e7d3c7d625aba7b8d471.setContent(html_671c3ccdc00c0775c82ad2bf235a48fb);
            
        

        marker_a67ec974f7024a6c1f02b00239bc61ac.bindPopup(popup_39dd6a9f04b1e7d3c7d625aba7b8d471)
        ;

        
    
    
            var marker_af34890dfd33feb030f455b04447d02e = L.marker(
                [31.7809182, -106.3889238],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_0ec3ff243233276911ba72e7df869db1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c66404cb6d247963202211f25ef86cd5 = $(`<div id="html_c66404cb6d247963202211f25ef86cd5" style="width: 100.0%; height: 100.0%;">Hoy Volkswagen El Paso</div>`)[0];
                popup_0ec3ff243233276911ba72e7df869db1.setContent(html_c66404cb6d247963202211f25ef86cd5);
            
        

        marker_af34890dfd33feb030f455b04447d02e.bindPopup(popup_0ec3ff243233276911ba72e7df869db1)
        ;

        
    
    
            var marker_ea7b7b9986c4dfe4531bd63cf51cca6c = L.marker(
                [31.7896492, -106.400628],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_69fefb2ce58ff6f34fb19ece8e0c67c4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5cdfbb1fe4fe2fcc9d545aa675c205b0 = $(`<div id="html_5cdfbb1fe4fe2fcc9d545aa675c205b0" style="width: 100.0%; height: 100.0%;">Bravo Cadillac El Paso</div>`)[0];
                popup_69fefb2ce58ff6f34fb19ece8e0c67c4.setContent(html_5cdfbb1fe4fe2fcc9d545aa675c205b0);
            
        

        marker_ea7b7b9986c4dfe4531bd63cf51cca6c.bindPopup(popup_69fefb2ce58ff6f34fb19ece8e0c67c4)
        ;

        
    
    
            var marker_109acacc1f6d23065d5324925a7d5ce1 = L.marker(
                [31.7836001, -106.3452161],
                {
}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
    
        var popup_8167a35a3d5d8e2f6e4330b3dfe00d6f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f1f654cb87d40ee17fa922e14a7d2f8c = $(`<div id="html_f1f654cb87d40ee17fa922e14a7d2f8c" style="width: 100.0%; height: 100.0%;">Eastwood Park</div>`)[0];
                popup_8167a35a3d5d8e2f6e4330b3dfe00d6f.setContent(html_f1f654cb87d40ee17fa922e14a7d2f8c);
            
        

        marker_109acacc1f6d23065d5324925a7d5ce1.bindPopup(popup_8167a35a3d5d8e2f6e4330b3dfe00d6f)
        ;

        
    
    
            var polygon_2fda422412ca1a9d25c440200a2ab2f5 = L.polygon(
                [[31.8386451, -106.330316], [31.752547, -106.330316], [31.752547, -106.4255], [31.8386451, -106.4255], [31.8386451, -106.330316]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_265d35744583c13dfbfe8b6a84bdc279);
        
</script>
</html>