<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_539d9f2a2c392cac1ed82063f4b40e29 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_539d9f2a2c392cac1ed82063f4b40e29" ></div>
        
</body>
<script>
    
    
            var map_539d9f2a2c392cac1ed82063f4b40e29 = L.map(
                "map_539d9f2a2c392cac1ed82063f4b40e29",
                {
                    center: [37.7749, -122.4194],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_8e4fa88adbf8c8593643272098fb18f9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_8e4fa88adbf8c8593643272098fb18f9.addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
            var marker_fadb3d119023e1aca1ceedc4030d46d0 = L.marker(
                [31.7831908, -106.4130581],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_04446f3ae079a61dd88d2a95bfb554b2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_903ac900c6727348b489f9913bde43bb = $(`<div id="html_903ac900c6727348b489f9913bde43bb" style="width: 100.0%; height: 100.0%;">Rack Room Shoes</div>`)[0];
                popup_04446f3ae079a61dd88d2a95bfb554b2.setContent(html_903ac900c6727348b489f9913bde43bb);
            
        

        marker_fadb3d119023e1aca1ceedc4030d46d0.bindPopup(popup_04446f3ae079a61dd88d2a95bfb554b2)
        ;

        
    
    
            var marker_007e6492a99f4a0c9ae96013e42ec726 = L.marker(
                [31.7721943, -106.3774533],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_93f3a730255fd56cbe59f73353a8f409 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0ae8ae73820c8c31186e4ff5c297d644 = $(`<div id="html_0ae8ae73820c8c31186e4ff5c297d644" style="width: 100.0%; height: 100.0%;">Mister Car Wash</div>`)[0];
                popup_93f3a730255fd56cbe59f73353a8f409.setContent(html_0ae8ae73820c8c31186e4ff5c297d644);
            
        

        marker_007e6492a99f4a0c9ae96013e42ec726.bindPopup(popup_93f3a730255fd56cbe59f73353a8f409)
        ;

        
    
    
            var marker_27cd2f5c007001786f4c863aa77d3ad5 = L.marker(
                [31.7658402, -106.3651468],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_2643d604c99a714391be7802b51259b3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_547df6b5a3c7532401856ca5a1ef9ee5 = $(`<div id="html_547df6b5a3c7532401856ca5a1ef9ee5" style="width: 100.0%; height: 100.0%;">Andale Mexican Restaurant and Cantina</div>`)[0];
                popup_2643d604c99a714391be7802b51259b3.setContent(html_547df6b5a3c7532401856ca5a1ef9ee5);
            
        

        marker_27cd2f5c007001786f4c863aa77d3ad5.bindPopup(popup_2643d604c99a714391be7802b51259b3)
        ;

        
    
    
            var marker_a8f3a2c454252f700c300378ab1a98e7 = L.marker(
                [31.7836697, -106.4128875],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_6e2c5037a7ef02359798656867d0e55b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2c7ddc48eb6c2ab603641800ed3a5532 = $(`<div id="html_2c7ddc48eb6c2ab603641800ed3a5532" style="width: 100.0%; height: 100.0%;">El Paso PREMIERE LUX CINE 17 IMAX</div>`)[0];
                popup_6e2c5037a7ef02359798656867d0e55b.setContent(html_2c7ddc48eb6c2ab603641800ed3a5532);
            
        

        marker_a8f3a2c454252f700c300378ab1a98e7.bindPopup(popup_6e2c5037a7ef02359798656867d0e55b)
        ;

        
    
    
            var marker_dda5c66c12633b87c1dbf3402966d975 = L.marker(
                [31.7745159, -106.3784958],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_4e1592ddd3949cb13da742dab1941078 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5c7a8ab45da3d5dc4ddc985bbff3a794 = $(`<div id="html_5c7a8ab45da3d5dc4ddc985bbff3a794" style="width: 100.0%; height: 100.0%;">Champs Sports</div>`)[0];
                popup_4e1592ddd3949cb13da742dab1941078.setContent(html_5c7a8ab45da3d5dc4ddc985bbff3a794);
            
        

        marker_dda5c66c12633b87c1dbf3402966d975.bindPopup(popup_4e1592ddd3949cb13da742dab1941078)
        ;

        
    
    
            var marker_83535360f2978de97fc34356784b820f = L.marker(
                [31.7836654, -106.4128838],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_c26201150dbb7439089508c92ffdfa3a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e5c48e5e2caf776a35178fab07690386 = $(`<div id="html_e5c48e5e2caf776a35178fab07690386" style="width: 100.0%; height: 100.0%;">Premiere Cinemas 18</div>`)[0];
                popup_c26201150dbb7439089508c92ffdfa3a.setContent(html_e5c48e5e2caf776a35178fab07690386);
            
        

        marker_83535360f2978de97fc34356784b820f.bindPopup(popup_c26201150dbb7439089508c92ffdfa3a)
        ;

        
    
    
            var marker_ce781257e3368f778d96da743bfcd05d = L.marker(
                [31.774746, -106.3788594],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_948618027bb70430a70a6091c46d02f7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_925780df92dc8cd3ea525389f8b6bfd0 = $(`<div id="html_925780df92dc8cd3ea525389f8b6bfd0" style="width: 100.0%; height: 100.0%;">GUESS</div>`)[0];
                popup_948618027bb70430a70a6091c46d02f7.setContent(html_925780df92dc8cd3ea525389f8b6bfd0);
            
        

        marker_ce781257e3368f778d96da743bfcd05d.bindPopup(popup_948618027bb70430a70a6091c46d02f7)
        ;

        
    
    
            var marker_90fe013ed97de35771bdd0e00bc41e8d = L.marker(
                [31.7753257, -106.3791262],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_49db830356d6ac870dcb1c1051a6ca4d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6d95bfa45a16c6ace40d69b631cdc88a = $(`<div id="html_6d95bfa45a16c6ace40d69b631cdc88a" style="width: 100.0%; height: 100.0%;">Spencer's</div>`)[0];
                popup_49db830356d6ac870dcb1c1051a6ca4d.setContent(html_6d95bfa45a16c6ace40d69b631cdc88a);
            
        

        marker_90fe013ed97de35771bdd0e00bc41e8d.bindPopup(popup_49db830356d6ac870dcb1c1051a6ca4d)
        ;

        
    
    
            var marker_d0e490a9d21ed4da6c34eb9a4c5863d8 = L.marker(
                [31.7830244, -106.4141009],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_e49ae0bd1d58f1bb2fac64166aac3368 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3dde7d5ac49ef119097375ed3f823f57 = $(`<div id="html_3dde7d5ac49ef119097375ed3f823f57" style="width: 100.0%; height: 100.0%;">Target</div>`)[0];
                popup_e49ae0bd1d58f1bb2fac64166aac3368.setContent(html_3dde7d5ac49ef119097375ed3f823f57);
            
        

        marker_d0e490a9d21ed4da6c34eb9a4c5863d8.bindPopup(popup_e49ae0bd1d58f1bb2fac64166aac3368)
        ;

        
    
    
            var marker_f778c9a803fc4689b14472c39c8b50fb = L.marker(
                [31.7784341, -106.3828163],
                {
}
            ).addTo(map_539d9f2a2c392cac1ed82063f4b40e29);
        
    
        var popup_e125cab60c3cbd340cd4e593affe43e6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc40fb88b6e9f8ebe1d3c93e05e6993a = $(`<div id="html_dc40fb88b6e9f8ebe1d3c93e05e6993a" style="width: 100.0%; height: 100.0%;">Cinemark Cielo Vista Mall 14 and XD</div>`)[0];
                popup_e125cab60c3cbd340cd4e593affe43e6.setContent(html_dc40fb88b6e9f8ebe1d3c93e05e6993a);
            
        

        marker_f778c9a803fc4689b14472c39c8b50fb.bindPopup(popup_e125cab60c3cbd340cd4e593affe43e6)
        ;

        
    
</script>
</html>